*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.clearfix{
    clear: both;
    float: none;
}

.wrapper{
    width: 80%;
    margin: 0 auto;
    padding: 1%;
}

.text-center{
    text-align: center;
}

.tbl-30{
    width: 40%;
}

.tbl-full{
    width: 100%;
}

table tr th{
    border-bottom: 1px solid black;
    padding: 1%;
    text-align: left;
}

table tr td{
    padding: 1%;
}

.btn-primary{
    background-color: #38598b;
    padding: 1%;
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 1%;
    border: none;
}

.btn-primary:hover{
    background:  #113f67;
}

.btn-secondry{
    background-color:  #8971d0;
    padding: 1%;
    color: white;
    text-decoration: none;
    font-weight: bold;
    /* border: none; */
}

.btn-secondry:hover{
    background: #5e63b6;
}

.btn-danger{
    background: #ff8264;
    padding: 1%;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.btn-danger:hover{
    background: #ff6464;
}

.success{
    color: #7dd87d;
}

.error{
    color: #e46161;
}

/* css for menu*/
.menu{
    border-bottom: 2px solid rgb(73, 53, 185);
}

.menu ul{
    list-style-type: none;
}

.menu ul li{
    display: inline;
    padding: 1%;
}

.menu ul li a{
    text-decoration: none;
    font-weight: bold;
    color: #113f67;
}

.menu ul li a:hover{
    color: #a2a8d3;
}

/* css for main-content */
.main-content{
    margin: 1% 0;
    padding: 3% 0;
    background-color: #e8e8e8;
}

.col-4{
    background-color:  #38598b;
    color: white;
    width: 18%;
    margin: 1%;
    padding: 2%;
    float: left;
}


/* css for footer */
.footer{
    background-color: #a2a8d3;
}

/*css for login*/
.login{
    border: 2px solid #38598b;
    border-radius: 10px;
    width: 30%;
    margin: 10% auto;
    padding: 2% 2%;
    background: rgb(231 231 231);
}
.input{
    letter-spacing: 1px;
    text-align: center;
    border: none;
    border-radius: 3px;
    font-size: 14px;
    padding: 2px 0px;
}